/* Icons */
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-chubby/css/uicons-solid-chubby.css");

/* Tailwindcss */
@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-sans: var(--font-inter);

  --breakpoint-*: initial;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;

  --text-sm: 0.84375rem;
  --text-base: 0.9375rem;
  --text-lg: 1.0625rem;
  --text-cl: 1.125rem;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-surface: hsl(var(--surface));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-link: hsl(var(--color-link));
  --color-accent: hsl(var(--color-accent));
}

@layer base {
  :root {
    --background: 0 0 98%;
    --foreground: 0 0 4%;
    --surface: 0 0 98%;
    --border: 0 0 93%;
    --input: 0 0 94%;
    --primary: 0 0 0%;
    --primary-foreground: 0 0 98%;
    --secondary: 0 0 94%;
    --secondary-foreground: 0 0 10%;
    --link: 221 83 53%;
    --accent: 0 0 40%;
  }
}

@layer utilities {
  .dark {
    --background: 0 0 0%;
    --foreground: 0 0 75%;
    --surface: 0 0 0%;
    --border: 0 0 12%;
    --input: 0 0 10%;
    --primary: 0 0 90%;
    --primary-foreground: 0 0 90%;
    --secondary: 0 0 19%;
    --secondary-foreground: 0 0 65%;
    --link: 213 94 68%;
    --accent: 0 0 60%;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  * {
    @apply box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-base font-normal leading-normal! text-foreground bg-background font-sans subpixel-antialiased selection:bg-blue-100/90 selection:text-blue-950;
    font-style: normal;
  }

  .fi {
    @apply flex justify-center items-center text-sm;
  }
}

@utility prose {
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-body: var(--color-foreground);
  --tw-prose-links: var(--color-link);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-foreground);
  --tw-prose-hr: var(--color-border);
  --tw-prose-quotes: var(--color-secondary);
  --tw-prose-quote-borders: var(--color-foreground);
  --tw-prose-captions: var(--color-secondary);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-surface);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);

  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);

  a {
    text-decoration: "none";
    font-weight: "400 !important";

    &:hover {
      text-decoration: "underline";
    }
  }

  em {
    font-style: "italic";
    color: var(--color-accent);
  }

  strong {
    font-weight: var(--font-weight-normal);
  }

  h1 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
  }

  h2 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
  }

  h3 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
  }
}
